* 
{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
body
{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(60,60,60);
}
#board
{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(60,180,60); 
}
#board div img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}